.app {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}


.hero__section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background: var(--main);
}
.hero__section > img {
  box-shadow: inset;
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  scale: 1.5;
  /* position: relative; */
  -webkit-filter: drop-shadow(0 4px 30px #00000030);
  filter: drop-shadow(0 4px 30px #0000001a);
}

.hero__title {
  font-size: 4rem;
  line-height: 4rem;
  margin: 0;
}
.hero__subtext {
  margin: 0;
  padding: 0;
}

.hero__value__props__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__value_props {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.file__input__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.custom__file__upload__label {
  border: 3px dashed var(--softGray);
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  max-width: 500px;
  padding: 2rem;
  margin: 0;
  border-radius: 0.5rem;
  color: var(--black);
}

.custom__file__upload__label:hover {
  opacity: 0.5;
  transition: 0.4s;
  border-color: var(--main);
}

.remove__file__btn {
  color: var(--accent);
  align-self: end;
  margin-bottom: 0.5rem;
  transition: opacity 0.6 ease-in-out;
  background-color: transparent;
  padding: 0;
}
.remove__file__btn:hover {
  cursor: pointer;
  opacity: 0.6;
  background-color: transparent;
}

button {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
  border: 0;
  background: var(--main);
  margin-top: 1rem;
  box-shadow: 0 4px 30px #0000001a;
  transition: 0.4s all;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 30px #00000009;
  background: var(--main);
}

button:disabled,
button[disabled] {
  opacity: 0.2;
  background: var(--black);
  cursor: not-allowed;
}
.scan__loader {
  animation: skanLoaderAnimation 1s infinite;
}

.form {
  display: flex;
  flex-direction: column;
}

/* -------------------------------------animations ------------------------------------*/

@keyframes skanLoaderAnimation {
  0% {
    scale: 0.8;
    opacity: 0.4;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    opacity: 0.4;
  }
}
